<div class="enquiry-details">
  <div class="row">
    <div class="column back-link-container">
      <%= link_to "â† Back to list", root_path %>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <h4>Enquiry Details</h4>
      <strong>STATUS: <%= @enquiry.status.upcase %></strong>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="eight columns">
      <h5>Customer Information</h5>
      <dl>
        <dt>Name:</dt>
        <dd><%= @enquiry.name %></dd>
        <dt>Email:</dt>
        <dd><%= @enquiry.email %></dd>
        <dt>Message:</dt>
        <dd class="message"><%= @enquiry.message %></dd>
      </dl>
    </div>
    <div class="four columns">
      <h5>Vehicle Information</h5>
      <pre>
        <code>
        Make: <%= @enquiry.make %>
        Model: <%= @enquiry.model %>
        Year: <%= @enquiry.year %>
        Colour: <%= @enquiry.colour %>
        </code>
      </pre>
    </div>
  </div>
  <div class="row">
    <div class="enquiry-actions column">
      <hr/>
      <%= form_for @enquiry do |f| %>
        <%= f.label :status, 'Mark as:' %>
        <%= f.select :status, @enquiry.aasm.states({:permitted => true}).map {|s| [s.name.to_s.titleize, s.name] } %>
        <%= f.submit "Update Status", class: 'button-primary' %>
      <% end %>
    </div>
  </div>
</div>