<!DOCTYPE html>
<html>
  <head>
    <title>Area Motors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="column">
          <h2><strong>area</strong>motors</h2>
        </div>
      </div>
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "flash #{name}" %>
      <% end -%>
      <%= yield %>
    </div>
  </body>
</html>
